/* DCI */
/* CLASSIC */

.glbExpand{
    width: 500px;
    height: 500px;
  }

.show-modal11a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal11b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal11c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal11d {
    visibility: visible;
    opacity: 1;
  }
  




   /* FINE CHOCO */
  .show-modal12a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal12b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal12c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal12d {
    visibility: visible;
    opacity: 1;
  }





  /* 3IN1 SERIES */
  .show-modal13a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal13b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal13c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal13d {
    visibility: visible;
    opacity: 1;
  }

  .show-modal13e {
    visibility: visible;
    opacity: 1;
  }

  .show-modal13f {
    visibility: visible;
    opacity: 1;
  }





  /* CHOCOLATE COMMERCIAL */
  .show-modal14a {
    visibility: visible;
    opacity: 1;
  }

  .show-modal14b {
    visibility: visible;
    opacity: 1;
  }

  .show-modal14c {
    visibility: visible;
    opacity: 1;
  }
  









  /* DILLTEA PURENESS */
  /* POWDER MATCHA */
  .show-modal21a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal21b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal21c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal21d {
    visibility: visible;
    opacity: 1;
  }





  /* LOOSE TEA */
  .show-modal22a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal22b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal22c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal22d {
    visibility: visible;
    opacity: 1;
  }





  /* SIGNATURE TEA */
  .show-modal23a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal23b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal23c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal23d {
    visibility: visible;
    opacity: 1;
  }





  /* TRIBLEND SERIES */
  .show-modal24a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal24b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal24c {
    visibility: visible;
    opacity: 1;
  }




  /* TEABLEND SERIES */
  .show-modal25a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal25b {
    visibility: visible;
    opacity: 1;
  }
  
  
  
  
  
  
  
  
  
  
  /* FLAVORICH */
  /* POWDER */
  .show-modal31a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31d {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31e {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31f {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal31g {
    visibility: visible;
    opacity: 1;
  }

  .show-modal31h {
    visibility: visible;
    opacity: 1;
  }





  /* SYRUP */
  .show-modal32a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32d {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32e {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32f {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32g {
    visibility: visible;
    opacity: 1;
  }

  .show-modal32h {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal32i {
    visibility: visible;
    opacity: 1;
  }





  /* CREAMER */
  .show-modal33a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal33b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal33c {
    visibility: visible;
    opacity: 1;
  }










  /* KOPSIL */
  /* PREMIUM ROASTED COFFEE */
  .show-modal41a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal41b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal41c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal41d {
    visibility: visible;
    opacity: 1;
  }





  /* SPECIAL BLEND */
  .show-modal42a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal42b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal42c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal42d {
    visibility: visible;
    opacity: 1;
  }





  /* SINGLE ORIGIN */
  .show-modal43a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal43b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal43c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal43d {
    visibility: visible;
    opacity: 1;
  }

  .show-modal43e {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal43f {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal43g {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal43h {
    visibility: visible;
    opacity: 1;
  }

  .show-modal43i {
    visibility: visible;
    opacity: 1;
  }





  /* KOPI KRISTALISASI TANPA AMPAS */
  .show-modal44a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal44b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal44c {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal44d {
    visibility: visible;
    opacity: 1;
  }





  /* CRISCO */
  .show-modal45a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal45b {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal45c {
    visibility: visible;
    opacity: 1;
  }
  









  /* PALM SUGAR */
  .show-modal51a {
    visibility: visible;
    opacity: 1;
  }
  
  .show-modal51b {
    visibility: visible;
    opacity: 1;
  }
  









  /* GMN */
  .show-modal61a {
    visibility: visible;
    opacity: 1;
  }
